<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add New Member</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
	rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
	rel="stylesheet" />

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script
	src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default" th:fragment="addUserData">
					<div class="panel-heading">
						<h3><a href="/addmember">Add new member</a></h3>
						<h3><a href="/listmembers">List Existing Members</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>

  <script>
  $( function() {
    $( "#birthDate" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "-50:-18"
    });
  } );
  </script>
</body>
</html>