<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Member List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
	rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
	rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script
	src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>


<link th:href="@{~/css/starter-template.css}" rel="stylesheet"
	media="screen" />
<script type="text/javascript" th:src="@{~/js/listmembers.js}"></script>
<script type="text/javascript" th:src="@{~/js/dropdownvalues.js}"></script>
<script type="text/javascript" th:src="@{~/js/common.js}"></script>

</head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>

		<table class="left">
		<tr>
			<td><h3><a href="http://asativaishyaparichay.in/?page_id=27">Matrimony Home|</a></h3></td>
			<td><h3><a href="/matrimony/addupdatemember">Add New Member</a></h3></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	
	<h4 align="center">नए प्रोफाइल वाले यूजर प्रोफाइल ऐड करने के बाद जांच एवं अप्रूवल हेतु मोबाइल नंबर +91-9425405688 संपर्क करे।</h4>
	

	<div class="container">
		<!-- Custom Filter -->
		<div class="table-responsive">
			<table class="display" style="width: 100%">
				<tr>
			<td><select	id='searchByStatus' sec:authorize="hasAnyAuthority('ADMIN')">
							<option value=''>--Status--</option>
							<option value='PENDING'>Pending</option>
							<option value='ACTIVE'>Active</option>
							<option value='INACTIVE'>Inactive</option>
					</select> 
					
					<input type='text' id='searchByMemberId'
						placeholder='member id' /> <select id='samajArea'></select> 
					<select	id='gender'>
							<option value=''>--Gender--</option>
							<option value='male'>Male</option>
							<option value='female'>Female</option>
					</select> 
					
						<select id='searchByAgeRange'></select> 
						<select id='education'></select>
						<select id='educationDetails'></select> 
						<select id='occupation'></select>
						<button type="button" id='searchBtn'>Search</button>
						<button id="btn-show-all-doc">Expand / Collapse</button></td>
						
			
			</tr>
			</table>
			<input type="hidden" id="hasAdmin" name="hasAdmin" value="true" sec:authorize="hasAnyAuthority('ADMIN')">
		</div>
		<table id="paginatedTable" class="display nowrap" style="width: 100%">
			<thead>
				<tr>
					<th>memberId</th>
					<th>imagePath</th>
					<th>fullName</th>
					<th>age</th>
					<th>fatherName</th>
					<th>birthDate</th>
					<th>mobile1</th>
					<th>educationDetails</th>
					<th>occupation</th>
					<th>fullAddress</th>
					<th>cityState</th>
					<th>samajArea</th>
					<th>motherName</th>
					<th>grandFather</th>
					<th>gender</th>
					<th>height</th>
					<th>maritalStatus</th>
					<th>gotra</th>
					<th>manglik</th>
					<th>mobile2</th>
					<th>education</th>
					<th>boardUniversity</th>
					<th>occupationDetails</th>
					<th>fatherOccupation</th>
					<th>email</th>
					<th>comments</th>
				</tr>
			</thead>
		</table>
	</div>

 	<!-- /.container -->
</body>
</html>