<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Member List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<link th:href="@{../css/starter-template.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{../css/datatables.min.css}" rel="stylesheet"
	media="screen" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{../js/admin_mysql.js}"></script>
<script type="text/javascript" th:src="@{../js/datatables.min.js}"></script>
</head>
<body>

	<div class="container">

		<div class="starter-template">

			<!-- Custom Filter -->
			<br> <br>
			<div class="table-responsive">
				<table>
					<tr>
						<td><input type='text' id='searchByMemberId'
							placeholder='member id' /> <select id='searchBySamajArea'></select>
							<select id='searchByGender'>
								<option value=''>--Gender--</option>
								<option value='male'>Male</option>
								<option value='female'>Female</option>
						</select> <select id='searchByAgeRange'></select></td>
					</tr>
					<tr>

						<td><select id='searchByEducation'></select> <select
							id='searchByEducationDetails'></select> <select
							id='searchByOccupation'></select>
							<button type="button" id='searchBtn'>Search</button>
							<button id="button">Row count</button>
					</tr>
				</table>
			</div>
			<div class="table-responsive">
				<table id="paginatedTable" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>memberId</th>
							<th>fullName</th>
							<th>fatherName</th>
							<th>motherName</th>
							<th>samajArea</th>
							<th>grandFather</th>
							<th>gender</th>
							<th>birthDate</th>
							<th>age</th>
							<th>height</th>
							<th>weight</th>
							<th>complexion</th>
							<th>manglik</th>
							<th>education</th>
							<th>educationDetails</th>
							<th>boardUniversity</th>
							<th>occupation</th>
							<th>occupationDetails</th>
							<th>fullAddress</th>
							<th>cityState</th>
							<th>mobile1</th>
							<th>mobile2</th>
							<th>email</th>
							<th>fatherOccupation</th>
							<th>brothers</th>
							<th>marriedBrothers</th>
							<th>sisters</th>
							<th>marriedSisters</th>
							<th>vansh</th>
							<th>gotra</th>
							<th>requirement</th>
						</tr>
					</thead>
				</table>
			</div>


		</div>

	</div>
	<!-- /.container -->

</body>
</html>